{% extends "base.html" %}
{% block title %}My MP3 Tagger{% endblock %}

{% block content %}
  <h2>Create a Personalized Playlist</h2>
      <p>Playlist Sorting Method:</p>
    <form action="/playlist" method="post">
  <input type="radio" name="playlist_option" value="genre"> Genre<br />
  <input type="radio" name="playlist_option" value="Artist"> Artist<br />
  <input type="radio" name="playlist_option" value="Album"> Album<br />
  <input type="radio" name="playlist_option" value="Year"> Year<br /><br />
      <button type="submit" name="playlist_option">Submit</button>
    </form>

{% endblock %}
