{% extends "base.html" %}
{% block title %}Tag Songs{% endblock %}

{% block content %}
<head>
    <title>Tag Songs</title>

</head>
<body>
    <table>
      <tr>
          <th>File name</th><th>Enter Song</th><th>Enter Artist</th>
      </tr>
      {% for file in songs %}
        <tr>
            <td>{{file}}</td>
<form method = "post" action="/run">
            <td>Song Name: <input type="text" name="song_{{ loop.index }}" value=""><br></td>
            <td>Artist: <input type="text" name="artist_{{ loop.index }}" value=""><br></td>


  
        </tr>
      {% endfor %}
      <input type="submit" value="Submit">      
   </form>  
    </table>
</body>
{% endblock %}


